<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>реєстрація</h2>
    <!-- форма реєстрації -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p>{{ form.confirm_password.label }} {{ form.confirm_password }}</p>
        <p>{{ form.submit }}</p>
    </form>
    <!-- посилання для переходу на сторінку входу -->
    <a href="{{ url_for('login') }}">вже маєте акаунт? увійдіть тут</a>
</body>
</html>
